
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button{
    all: unset;
    font-size: 2rem;
    font-weight: 200;
    padding: 0;
    text-align: center;
}
h1{
    margin: 0;E
}
form{
    width: 100%;
}
.container{
    background-color: #f3f4f6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
}
.result{
    flex: 100%;
    height: 25%;
    flex-direction: column;
}
.last-result{
    width: 100%;
    border-bottom: solid 1px;
    border-color: dimgray;
    min-height: 70%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.current-result{
    display: flex;
    height: 30%;
    justify-content: end;
    align-items: end;
}
.operations{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}
.switch-theme{

}
.operation-button{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.history-button{
    width: 40%;
    height: 100%;
    box-shadow: 12px 15px 15px 0px rgba(0,0,0,0.1);
    border-radius: 2rem;
}
.numbers{
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around ;
    height: 60%;
    width: 90%;
    gap: 2%;
}
.number-button{
    height: 15%;
    border-radius: 2rem;
    width: 25%;
}
.bg-color-number{
    background-color: rgba(240, 238, 238, 0.753);
    box-shadow: 0px 8px 26px -4px rgba(0,0,0,0.1);
    color: rgba(22, 21, 21, 0.603);
}
.bg-color-opert{
    background-color: rgba(243, 232, 209, 0.582);
    box-shadow: 0px 8px 26px -4px rgba(187, 178, 159, 0.815);
    color: rgba(168, 145, 95, 0.815);

}
.bg-color-C{
    background-color: rgba(250, 215, 140, 0.753);
    box-shadow: 0px 8px 26px -4px rgba(168, 145, 95, 0.815);
    color: white;
}
.bg-color-purp{
    background-color: rgba(211, 201, 240, 0.616);
    box-shadow: 0px 8px 26px -4px rgba(102, 95, 168, 0.815);   
    color: rgba(139, 108, 231, 0.918);

}
.bg-color-darkpurp{
    background-color: rgba(139, 108, 231, 0.918);
    box-shadow: 0px 8px 26px -4px rgba(102, 95, 168, 0.815);  
    color: white;
}